cirq~=1.4.1
numpy~=1.26.4
scipy~=1.13.1
pytket~=1.33.1
qiskit~=0.46.1
tqdm~=4.66.5
networkx~=3.3
rustworkx~=0.15.1
pydot~=3.0.2
matplotlib~=3.9.2
ipython~=8.27.0
rich~=13.7.1
qfactor~=1.0.1
pandas~=2.2.3
bqskit~=1.2.0
natsort~=8.4.0